@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
* {
    padding: 0;
    margin: 0;
}

.bodyindex {
    background-image: url('../img/fondodetierra.webp');
    background-size: 100% 660px;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.cuadroparadinero {
    background-image: url(../img/cuadroparadinero.jpg);
    background-size: 200px 100px;
    background-repeat: no-repeat;
    background-position-x: 550px;
}

.block {
    display: block;
}

.flex {
    display: flex;
    flex-flow: row nowrap;
}

.bambu {
    display: flex;
    width: 60px;
    height: 60px;
    padding: 10px 0 0 15px;
}

#bambu100 {
    padding: 18px 15px;
    font-size: 2.3rem;
    color: black;
    position: absolute;
}

.vidas {
    display: flex;
    width: 60px;
    height: 60px;
    padding: 10px 0 0 95px;
}

#vida100 {
    padding: 18px 15px;
    font-size: 2.3rem;
    color: black;
    position: absolute;
}

.tiempoReloj {
    display: flex;
    width: 75px;
    height: 75px;
    padding: 4px 0 0 65px;
}

.usuario {
    margin: 26px 30px 10px 540px
}

.opciones {
    margin: 25px 0px 10px 0px;
}

.btn-opciones {
    width: 85px;
    height: 35px;
    font-size: 1.2rem;
    background-color: rgb(124, 142, 145);
}

.pandaPersonaje {
    background-image: url(../img/pandadetierra.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 165px;
    height: 140px;
    margin: 415px 0px;
}

.btnpandadeagua {
    width: 50px;
    height: 50px;
    margin: 15px -625px;
}

.btnpandadefuego {
    width: 50px;
    height: 50px;
    margin: 15px 637px;
}

.balaBambu {
    width: 50px;
    height: 155px;
    background-image: url(../img/bala-removebg-preview.png);
    background-size: 80px 70px;
    background-repeat: no-repeat;
    position: absolute;
}

.enemigoHongo {
    width: 95px;
    height: 160px;
    background-image: url(../img/hongoenemigo.png);
    background-size: 100px 90px;
    background-repeat: no-repeat;
    position: absolute;
}

.ingreso {
    display: block;
    width: 50px;
    height: 50px;
    padding: 15px 0 0 15px;
}


/*Modal*/


/*Animacion*/

.modal {
    width: 33%;
    height: 70%;
    position: fixed;
    background-image: url(../img/bgpanda2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 10px;
    display: flex;
    margin: 0% 34%;
    z-index: -1;
    opacity: 0;
}

.modal_aparicion {
    opacity: 1;
    z-index: 1;
}

.modal_container {
    width: 90%;
    margin: auto;
    border-radius: 6px;
    opacity: 1;
}

.modal_ingresar {
    font-family: 'DynaPuff', sans-serif;
    color: white;
    background-color: rgb(49, 103, 218);
    padding: 1% 3%;
    margin: 7% 29%;
    border: 1px solid;
    border-radius: 8px;
    display: inline-block;
}

.modal_ingresar:hover {
    color: rgb(49, 103, 218);
    background-color: white;
}

.modal_eliminar {
    font-family: 'DynaPuff', sans-serif;
    color: white;
    background-color: rgb(235, 44, 44);
    padding: 1% 3%;
    margin: 0 32% 0% 29%;
    border: 1px solid;
    border-radius: 8px;
    display: inline-block;
}

.modal_eliminar:hover {
    color: rgb(235, 44, 44);
    background-color: white;
}

form h1 {
    color: rgb(49, 103, 218);
    font-family: 'DynaPuff', cursive;
    font-size: 2.1rem;
    padding: 1px 10px 10px 10px;
    text-align: center;
}

form label {
    color: rgb(235, 44, 44);
    font-family: 'DynaPuff', sans-serif;
    font-size: 1.1rem;
    display: block;
    padding: 10px 113px;
}

form input {
    margin: 5px 68px;
    padding: 1% 3%;
    border: 1px solid;
    width: 60%;
}

.label_recordar {
    padding: 10px 10px;
}

.input_recordar {
    margin: 0 8px 0 71px;
    width: auto;
}