@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Merriweather:ital@1&family=Signika+Negative:wght@300&family=Ubuntu:wght@500&display=swap');
* {
    padding: 0;
    margin: 0;
}

.bodyindex {
    background-image: url('../img/fondodetierra.webp');
    background-size: 100% 665px;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.cuadroparadinero {
    background-image: url(../img/cuadroparadinero.jpg);
    background-size: 200px 100px;
    background-repeat: no-repeat;
    background-position-x: 550px;
}

.block {
    display: block;
}

.flex {
    display: flex;
    flex-flow: row nowrap;
}

.bambu {
    display: flex;
    width: 60px;
    height: 60px;
    padding: 10px 0 0 15px;
}

#bambu0 {
    padding: 18px 15px;
    font-size: 2.3rem;
    color: black;
    position: absolute;
}

.vidas {
    display: flex;
    width: 60px;
    height: 60px;
    padding: 10px 0 0 95px;
}

#vida20 {
    padding: 18px 15px;
    font-size: 2.3rem;
    color: black;
    position: absolute;
}

#minutos {
    padding: 18px 135px;
    font-size: 2.3rem;
    color: black;
    position: absolute;
}

#segundos {
    padding: 18px 165px;
    font-size: 2.3rem;
    color: black;
    position: absolute;
}

#dospuntos {
    padding: 18px 155px;
    font-size: 2.3rem;
    color: black;
    position: absolute;
}

.tiempoReloj {
    display: flex;
    width: 75px;
    height: 75px;
    padding: 4px 0 0 65px;
}

.usuario {
    margin: 26px 5px 10px 125px
}

.opciones {
    margin: 25px 0px 10px 10px;
}

.btn-opciones {
    width: 85px;
    height: 35px;
    font-size: 1.2rem;
    background-color: rgb(124, 142, 145);
}

.pandaPersonaje {
    background-image: url(../img/pandadetierra.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 165px;
    height: 140px;
    margin: 415px 0px;
}

.balaBambu {
    width: 50px;
    height: 155px;
    background-image: url(../img/bala-removebg-preview.png);
    background-size: 80px 70px;
    background-repeat: no-repeat;
    position: absolute;
}

.enemigoHongo {
    width: 95px;
    height: 160px;
    background-image: url(../img/hongoenemigo.png);
    background-size: 100px 90px;
    background-repeat: no-repeat;
    position: absolute;
}

.info {
    display: block;
    width: 50px;
    height: 50px;
    padding: 15px 0 0 385px;
}

.ingreso-usuario {
    width: 50px;
    height: 50px;
    padding: 15px 0 0 20px;
}

.high-score {
    width: 50px;
    height: 50px;
    padding: 15px 0 0 20px;
}

.miniaturas {
    padding: 10px 0 25px 10px;
}

#puntos {
    padding: 18px 5px;
    font-size: 2.3rem;
    color: black;
    position: absolute;
}


/*Personajes html*/

.personajes-container {
    display: flex;
    flex-flow: row nowrap;
}

.row {
    display: flex;
    flex-flow: row wrap;
}

.carta {
    width: 300px;
    border: 2px solid black;
    height: 100px;
    padding: 5px 0px 0px 18px;
    margin: 10px 60px 0px 110px;
}

.carta-top {
    width: 259px;
    height: 217px;
}

.carta-titulo {
    display: flex;
    justify-content: center;
}


/*Informacion*/

h4 {
    font-family: 'DynaPuff', cursive;
    padding: 12px 0px;
}

h5 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.35rem;
    padding: 15px 0px;
}

p {
    font-family: 'Merriweather', serif;
    font-size: 1.15rem;
    padding: 10px 50px;
}

.info-mouse {
    width: 12%;
    height: 6%;
}

.info-teclado {
    width: 30%;
    height: 5%;
}

.info-hongobambu {
    width: 27%;
    height: 6%;
}

#info-principal {
    padding: 5px 0px 5px 40px;
}